<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
    </div>
    <div class="meta">
        created by {{user.username}} on 
        {{format_date created_at}}
        |
        <p>{{text_area}}</p>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>